{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 8000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "EnvironmentVariables": [
         
          {{ if .prompt }}"{{ subst "prompt=%s" .prompt }}"{{else}}"prompt=prompt"{{ end }}
        ],
        {{ if .image }}"{{ subst "Image:%s" .image }}",{{else}}"Image:lilypadnetwork/lilysay:0.0.6",{{ end }}

      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
